@using SmartBots.Domain.Entities.IndicatorRules
@inherits ComponentBase
@code {
    [Parameter]
    public BollingerBandsRule Rule { get; set; }
}

<div class="form-group">
    <label>Period:</label>
    <InputNumber @bind-Value="Rule.Period" />

    <label>Standard Deviation:</label>
    <InputNumber @bind-Value="Rule.StandardDeviation" />
</div>
