@using ScottPlot.Blazor
@inherits BlazorPlot

<ErrorBoundary>
    <ChildContent>
        <BlazorPlot />
    </ChildContent>
    <ErrorContent Context="Exception">
        <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>@Exception.Message</p>
        </div>
    </ErrorContent>
</ErrorBoundary>

@code {

}
