@page "/ScottPlot"
@rendermode InteractiveAuto
@using MediatR
@inject IMediator Mediator
@using ScottPlot
@using ScottPlot.Blazor
@using SmartBots.Application.Features

<h1>ScottPlot 5 in Blazor</h1>
<div>
    @if (showPlot)
    {
        <CustomBlazorPlot @ref=BlazorPlot Style="width: 500px; height: 400px;" />
    }
    else
    {
        <p>loading plot...</p>
    }
</div>

@code {
    bool showPlot = false;
    BlazorPlot BlazorPlot { get; set; } = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var plot = await Mediator.Send(new GetPlotExample());
        BlazorPlot.Reset(plot);

        await Task.Delay(1000);
        showPlot = true;
        StateHasChanged();
    }
}