@page "/"

<PageTitle>Home</PageTitle>

<h2>Hello!</h2>

Welcome to your Crypto Bot Trader!

<br/>

<img src="/images/cryptocurrency-trading-bot.png"
     alt="cryptocurrency-trading-bot"
     height="200px" />