@using SmartBots.Domain.Entities.IndicatorRules

<h6 class="card-title">RSI</h6>

<div class="mb-2">
    <label>Period:</label>
    <InputNumber @bind-Value="Rule.Period" class="form-control form-control-sm" />
    <label>Overbought Threshold:</label>
    <InputNumber @bind-Value="Rule.OverboughtThreshold" class="form-control form-control-sm" />
    <label>Oversold Threshold:</label>
    <InputNumber @bind-Value="Rule.OversoldThreshold" class="form-control form-control-sm" />
</div>
<div class="d-flex justify-content-between align-items-center">
    <div>
        <InputCheckbox @bind-Value="Rule.IsUsedForOpening" class="form-check-input" id="@($"open-{Rule.GetHashCode()}")" />
        <label for="@($"open-{Rule.GetHashCode()}")" class="form-check-label">Open</label>
        <InputCheckbox @bind-Value="Rule.IsUsedForClosing" class="form-check-input" id="@($"close-{Rule.GetHashCode()}")" />
        <label for="@($"close-{Rule.GetHashCode()}")" class="form-check-label">Close</label>
    </div>
</div>

@code {
    [Parameter] public RSIRule Rule { get; set; } = new();
}
