@using SmartBots.Domain.Entities

<div class="row g-3">
    <div class="col-sm-6 col-md-2 d-flex align-items-center">
        <InputCheckbox @bind-Value="StopLossSettings.UseStopLoss" class="form-check-input me-2" id="useStopLoss" />
        <label for="useStopLoss" class="form-check-label">Use Stop Loss</label>
    </div>
    <div class="col-sm-6 col-md-3">
        <label for="stopLossPercentage" class="form-label">Stop Loss Percentage</label>
        <InputNumber @bind-Value="StopLossSettings.StopLossPercentage" class="form-control" id="stopLossPercentage" placeholder="e.g., 2.5" />
    </div>
    <div class="col-sm-6 col-md-3">
        <label for="timeoutSeconds" class="form-label">Timeout Seconds</label>
        <InputNumber @bind-Value="StopLossSettings.TimeoutSeconds" class="form-control" id="timeoutSeconds" placeholder="e.g., 60" />
    </div>
    <div class="col-sm-6 col-md-2 d-flex align-items-center">
        <InputCheckbox @bind-Value="StopLossSettings.IncludeExtraOrdersPositions" class="form-check-input me-2" id="includeExtraOrders" />
        <label for="includeExtraOrders" class="form-check-label">Include Extra Orders</label>
    </div>
    <div class="col-sm-6 col-md-2 d-flex align-items-center">
        <InputCheckbox @bind-Value="StopLossSettings.TrailingStopLoss" class="form-check-input me-2" id="trailingStopLoss" />
        <label for="trailingStopLoss" class="form-check-label">Trailing Stop Loss</label>
    </div>
</div>

@code {
    [Parameter]
    public StopLossSettings StopLossSettings { get; set; }
}
